
/*Body*/

.body-content {
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 3%;
}
.text-hover:hover{
    color: #00657b;
}
.body-content .body-content--post a{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
.text-title{
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #212529;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-description{
    font-size: 30px;
    font-weight: 300;
    color: #343a40;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn{
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 1px solid #343a40;
    cursor: pointer;
    transition-duration: 0.8s;
}
.btn:hover{
    background-color: darkseagreen;
    color: white;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

